@use 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
.body{
    font-family: 'Roboto';
    background-color: #FFFFFF;
}
.container {

    margin: 33px 250px 0 250px;
    max-width: 1445px;
    max-height: 4759px;

    // .container__header

    &__header {
        margin-bottom: 72px;
        position: relative;

&::after{
    content: '';
    position: absolute;
    width: 940px;
    height: 2px;
    background-color: #828282;
   left: 0%;
   margin-top: 32px;



}

        .header-item {
            position: relative;
            display: inline-block;
            font-family: 'Gilroy-Bold';
font-size: 18px;
line-height: 22px;


        }
        .header-item1 {
            font-weight: 700;
            display: inline-block;
            color: #070707;
        }
        .header-item2 {
            display: inline-block;
            margin-left: 155px;
            color: #828282;
        }
        .header-item3 {
            display: inline-block;
            margin-left: 155px;
            color: #828282;
        }
        .header-item4 {
            display: inline-block;
            margin-left: 155px;
            color: #828282;
        }
        .header-item5 {
            display: inline-block;
            margin-left: 169px;
            color: #828282;
        }


    }
}
.container {

    // .container__info

    &__info {
        display: flex;
        flex: 0 0 33.333%;
        margin-bottom: 49px;

    }

    // .container__column1

    &__column1 {
display: inline-block;
width: 123px;
font-size: 47px;
line-height: 59px;

/* Black */

color: #070707;
    }

    // .container__column2

    &__column2 {
        display: flex;
        width: 155px;
        font-size: 18px;
line-height: 22px;
margin-left: 297px;
align-items: center;

    }

    // .container__column3

    &__column3 {
        display: flex;
        margin-left: 330px;
        align-items: center;
        transform: rotate(-90deg);
        font-size: 16px;
line-height: 20px;
color: #828282;
span{
    font-weight: 700;
    color: #070707;
}
    }
}

.container {

    // .container__about

    &__about {
        position: relative;
        background-color: #F6F6F6;
        width: 1699px;
        height: 506px;
        margin-left: -250px;
        margin-top: 104px;
        left: -150px;


    }
}
.head-about {
    display: flex;
justify-content: center;
    font-size: 34px;
line-height: 42px;
font-weight: 700;
margin-bottom: 18px;
padding-top: 120px;

}
.text-about {
    display: flex;
    font-size: 18px;
line-height: 22px;
justify-content: center;
flex-direction: column;
.text_about {


    // .text_about__p1

    &__p1 {

        display: flex;
        justify-content: center;
        align-items: center;

        text-indent: 50px;
        margin-bottom: 35px;


    }

    // .text_about__p2

    &__p2 {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 35px;
    }

    // .text_about__p3

    &__p3 {
        display: flex;
        justify-content: center;
        text-align: center;

    }
}

}
